body {
    height:1000px;
    font-family: 'Microsoft YaHei','Open Sans', 'trebuchet ms', arial, sans-serif;
    background-image: url('tm_bg.png');
}
#sidebar {
    padding-top: 100px;
    width: 35px;
    position:fixed;
    top:0;
    left: 0;
    background-color: #e1e1e1;
    height: 100%;
    z-index: 100;
    margin-left: 0;
}
.item {
    text-align: center;
    margin-top: 15px;
    cursor: pointer;
}
.item div {
    font-size: 12px;
}
#closeBar {
    text-align: center;
    position: absolute;
    bottom: 30px;
    width: 35px;
    cursor: pointer;
    margin-left: 0;
}

.nav-content {
    left: -120px;
    position:fixed;
    height:100%;
    width: 170px;
    background-color: #e1e1e1;
    opacity: 0;
    z-index: 99;
    text-align: center;
}

.nav-content .nav-con-close {
    float: right;
    cursor: pointer;
    padding-top: 5px;
    padding-right: 5px;
}